.mobile-chat-container {
    padding: 10px !important;
    background-color: #E30017 !important;
    border-radius: 34px !important;
    right: 35px !important;
  }
  
  #rogProduct .chat-container .chat-header {
    background: #E30017 !important;
  }
  
  #rogProduct .joe-message.other-message {
    background: #E30017 !important;
  }
  
  .mobile-chat-container .fa-comments {
    background-image: url("./icon_chat.svg");
    transform: translateY(-4px);
  }
  
  
  
  @media (max-width: 780px) {
    .mobile-chat-container {
      right: 20px !important;
    }
  }