

#rogProduct .bv_histogram_row_container {
  display: flex !important;
  align-items: center !important;
}


#rogProduct .bv_histogram_row_star {
  margin-right: 4px !important;
  transform: translateY(1px) translateX(6px);
}


#rogProduct  .bv_histogram_row_bar_empty, .bv_histogram_row_bar_filled {
  border-radius: 0px !important;
  overflow: hidden;
}

.bv_histogram_row_bar_filled {
  background: linear-gradient(to right, #ff4800, #ff0024) !important;
  background-color: transparent !important;
  transform: scale(1.1) skewX(40deg) translateX(-3px);
}

#rogProduct .bv_modal_component_container {
  background-color: #2c2c2c !important;
}

#rogProduct .bv_histogram_row_container:hover {
  background-color: #2c2c2c !important;
}

#rogProduct div.bv_modal_component_container[data-bv-modal] .bv_modal_outer_content:before {
  background-color: #2c2c2c!important;
}

#rogProduct .bv_button_buttonFull {
  border: 1px solid #ff0029 !important;
  position: relative;
  background-image: none !important;
  box-shadow: inset 0 0px 0 hsla(0,0%,100%,1)!important;
  margin-top: 14px !important;
}

#rogProduct .bv_button_buttonFull:hover {
  border: 1px solid #ff0029 !important;
  position: relative;
  background-color: #ff0029 !important;
  box-shadow: inset 0 0px 0 hsla(0,0%,100%,1)!important;
  margin-top: 14px !important;
  color: #ffffff !important;
}


#rogProduct .bv_button_buttonFull:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #ff0029;
}
#rogProduct .bv_button_buttonFull:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #222222;
}

#rogProduct .bv_button_buttonFull:focus {
  outline: 0px solid #ff0029 !important;
}
